<div id="head">
  <h1 id="logo"><%= link_to 'Web Development | Gnomeslab', root_path %></h1>
  <div id="navigation">
    <ul>
      <li><%= link_to 'Home', root_path, :class => 'active' %></li>
      <li><%= link_to 'About', about_us_path %></li>
      <li>
        <%= link_to 'Services', services_path %>
        <div class="dd">
          <ul>
            <li>
              <%= link_to 'Websites', service_detail_path %>
              <div class="dd">
                <ul>
                  <li><a href="service-detailed.html">Service 1.1</a></li>
                  <li><a href="service-detailed.html">Service 1.2</a></li>
                  <li><a href="service-detailed.html">Service 1.3</a></li>
                  <li><a href="service-detailed.html">Service 1.4</a></li>
                  <li><a href="service-detailed.html">Service 1.5</a></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Web Applications', service_detail_path %>
              <div class="dd">
                <ul>
                  <li><a href="service-detailed.html">Service 2.1</a></li>
                  <li><a href="service-detailed.html">Service 2.2</a></li>
                  <li><a href="service-detailed.html">Service 2.4</a></li>
                  <li><a href="service-detailed.html">Service 2.5</a></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Web Services', service_detail_path %>
              <div class="dd">
                <ul>
                  <li><a href="service-detailed.html">Service 3.1</a></li>
                  <li><a href="service-detailed.html">Service 3.2</a></li>
                  <li><a href="service-detailed.html">Service 3.5</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <%= link_to 'Projects', projects_path %>
        <div class="dd">
          <ul>
            <li>
              <%= link_to 'Project Category 1', projects_path %>
              <div class="dd">
                <ul>
                  <li><%= link_to 'Project 1', project_detail_path %></li>
                  <li><%= link_to 'Project 2', project_detail_path %></li>
                  <li><%= link_to 'View All', projects_path %></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Project Category 2', projects_path %>
              <div class="dd">
                <ul>
                  <li><%= link_to 'Project 1', project_detail_path %></li>
                  <li><%= link_to 'Project 2', project_detail_path %></li>
                  <li><%= link_to 'View All', projects_path %></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Project Category 3', projects_path %>
              <div class="dd">
                <ul>
                  <li><%= link_to 'Project 1', project_detail_path %></li>
                  <li><%= link_to 'Project 2', project_detail_path %></li>
                  <li><%= link_to 'View All', projects_path %></li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to 'Project Category 4', projects_path %>
              <div class="dd">
                <ul>
                  <li><%= link_to 'Project 1', project_detail_path %></li>
                  <li><%= link_to 'Project 2', project_detail_path %></li>
                  <li><%= link_to 'View All', projects_path %></li>
                </ul>
              </div>
            </li>
            <li><%= link_to 'View All', projects_path %></li>
          </ul>
        </div>
      </li>
      <li><%= link_to 'Blog', blog_path %>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</div>