<div id="head">
  <h1 id="logo"><%= link_to 'Web Development | Gnomeslab', root_path %></h1>
  <div id="navigation">
    <ul>
      <li><%= top_menu_link :home %></li>
      <li><%= top_menu_link :about_us %></li>
      <li><%= top_menu_link :services %></li>
      <li><%= top_menu_link :blog %></li>
      <li><%= top_menu_link :contact %></li>
    </ul>
  </div>
</div>