<div id="head">
  <h1 id="logo"><%= link_to 'Web Development | Gnomeslab', root_path %></h1>
  <div id="navigation">
    <ul>
      <li><%= link_to 'Home', root_path, :class => 'active' %></li>
      <li><%= link_to 'About', about_us_path %></li>
      <li><%= link_to 'Services', services_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Blog', blog_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</div>