<div id="head">
  <div id="logo-box">
    <h1 id="logo">Gnomeslab</h1>
    <span id="slogan">gnomes at work</span>
  </div>
  <div id="navigation">
    <ul>
      <li><%= top_menu_link :home %></li>
      <li><%= top_menu_link :about_us %></li>
      <li><%= top_menu_link :services %></li>
      <li><%= top_menu_link :blog %></li>
      <li><%= top_menu_link :contact %></li>
    </ul>
  </div>
</div>