<%= content_for(:pre_content) { render 'rotator' } %>
<%= content_title 'Who are we?' %>

<div class="entry">
  <p>
    <img src="../images/content/image1.jpg" class="alignright" alt="" />
    Gnomeslab is different. We don't just develop software. We re passionate about it! 
    We believe in great software architecture, incredible user experience, outstanding design, 
    web standards and accessibility. Our detail-oriented team has the technical expertise and creativity to 
    turn your web application or product vision into a beautiful and innovative masterpiece of software, 
    that you and your users will love to use.
    <br /><a href="about.html" class="more">more</a>
  </p>
</div>

<%= content_for :sidebar do %>
  <h2 class="border">Our Culture</h2>
  <div class="entry">
    <p>
      <img src="../images/content/image3.jpg" class="alignright" alt="" />
      We believe in delivering software that meets the needs of our clients. 
      It's estimated that 90% of the software projects fail. Sometimes because the developers 
      don't know what to do or how...
      <br /><a href="about.html" class="more">more</a>
    </p>
  </div>
<% end %>

<%= content_for :content_columns do %>
  <%= render 'content_columns/homepage' %>
<% end %>