<!-- Post Single -->
<div class="post justify">
  <h2 class="border">
    <small class="right">Mar 03, 2010 @ 1:07pm</small>
    Integer dictum nulla tempus
  </h2>       
  <div class="entry">
    <p>
      <a href="#" class="alignleft"><img src="../images/content/post.jpg" alt="" /></a>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. Pellentesque tincidunt fermentum diam sagittis ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, </p>
  </div>
  
  <div class="post-meta">
    <div class="cl">&nbsp;</div>
    <div class="left">
      <p><em>Posted in:</em> <a href="blog.html">Cagetory 1</a></p>
      <p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
    </div>
    <span class="right">
      <a href="#comments" class="gray">Comments: 19</a>
    </span>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<!-- End Post Single -->

<!-- Comments -->
<div class="post-comments justify" id="comments">
  <a href="#submit-comment" class="right">Write a comment</a>
  <h4>19 Comments</h4>
  
  <!-- Comment List -->
  <div class="comment-list">
    <ol>
        <li>
          <div class="cl">&nbsp;</div>
          <div class="comment-meta">
            <strong>1.</strong>
            by <a href="#">John Smithon</a><br />
            Mar 03, 2010 at 1.:23pm
          </div>
        <div class="entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. </p>
            <p><a href="#">Reply</a></p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        
        <li>
          <div class="cl">&nbsp;</div>
          <div class="comment-meta">
            <strong>2.</strong>
            by <a href="#">John Smithon</a><br />
            Mar 03, 2010 at 1.:23pm
          </div>
        <div class="entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. </p>
            <p><a href="#">Reply</a></p>
          </div>
          <div class="cl">&nbsp;</div>
          
          <ol>
            <li>
              <div class="cl">&nbsp;</div>
              <div class="comment-meta">
                by <a href="#">John Smithon</a><br />
                Mar 03, 2010 at 1.:23pm
              </div>
            <div class="entry">
                <p>Lorem ipsum dolor sit amet, congue nunc. Mauris a tortor ut massa egestas tempus. </p>
                <p><a href="#">Reply</a></p>
              </div>
              <div class="cl">&nbsp;</div>
            </li>
            <li>
              <div class="cl">&nbsp;</div>
              <div class="comment-meta">
                by <a href="#">John Smithon</a><br />
                Mar 03, 2010 at 1.:23pm
              </div>
            <div class="entry">
                <p>Lorem ipsum dolor sit amet, congue nunc. Mauris a tortor ut massa egestas tempus. </p>
                <p><a href="#">Reply</a></p>
              </div>
              <div class="cl">&nbsp;</div>
            </li>
        </ol>
          
        </li>
        <li>
          <div class="cl">&nbsp;</div>
          <div class="comment-meta">
            <strong>3.</strong>
            by <a href="#">John Smithon</a><br />
            Mar 03, 2010 at 1.:23pm
          </div>
        <div class="entry">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum, neque ut imperdiet pellentesque, nulla tellus tempus magna, sed consectetur orci metus a justo. Aliquam ac congue nunc. Mauris a tortor ut massa egestas tempus. </p>
            <p><a href="#">Reply</a></p>
          </div>
          <div class="cl">&nbsp;</div>
        </li>
        
    </ol>
  </div>
  <!-- End Comment List -->
  
  <!-- Comment Form -->
  <div class="comment-form form" id="submit-comment">
    <h4>Post a Comment</h4>
    <div class="cl">&nbsp;</div>
    <div class="left">
      <p>
        <label>Name <span>(required)</span></label>
        <input type="text" class="field"  />
      </p>
      <p>
        <label>Email <span>(required) Will not be published</span></label>
        <input type="text" class="field"  />
      </p>
      <p>
        <label>URL</label>
        <input type="text" class="field"  />
      </p>
    </div>
    <div class="right">
      <p>
        <label>Comment:</label>
        <textarea class="field" rows="10" cols="10"></textarea>
      </p>
      <p class="ar">
        <input type="submit" class="button" value="Post this Comment" />
      </p>
    </div>
    <div class="cl">&nbsp;</div>
    
  </div>
  <!-- End Comment Form -->
  
</div>
<!-- End Comments -->

<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/blog_categories' %>
  <%= render :partial => 'shared/content_box/archives' %>
  <%= render :partial => 'shared/content_box/popular_tags' %>
  <%= render :partial => 'shared/content_box/advertisement' %>
<% end %>