<% title 'About Gnomeslab | Web-facing product and application development in Lisbon, Portugal' %>
<%= content_title 'About us' %>

<div class="entry justify">
  <p>Gnomeslab is different. We don't just develop software. We are passionate about it!</p>
  <p>
    We believe in scalable software architecture, incredible user experience, outstanding design, 
    web standards and accessibility. Our detail-oriented team has the technical expertise and creativity 
    to turn your system or product vision into an innovative piece of software, 
    that you, your users or your customers will love to use.
  </p>

  <p>
    We truly love what we do. From enterprise class to smaller projects, our professionalism, know-how,
    passion, enthusiasm, vision and creativity are present in everything we create.
  </p>

  <p>
    Based on your ideas, vision and <i>strategic goals</i>, we create simple and functional 
    web applications that put the content and the user experience first. 
    To help us create this value for your business, we rely on the latest web technologies, such as HTML 5, 
    CSS 3 and Ruby on Rails.
  </p>

  <p>
    By following the best <i>Agile Software Development</i> practices, Gnomeslab has created an extremely 
    rich and creative work environment where ideas and client involvement are intensely encouraged.
  </p>

  <p>
    At Gnomeslab, we take great pride in what we do and realise that the key to success is the close 
    and transparent relationship with our clients, which allows us to fully understand your requirements and 
    business model.
  </p>
  <br/>

  <h4>How do we do it?</h4>
  <p>
    It's all about user experience (or simply UX), web standards, accessibility, proven web technologies and 
    agile development.
  </p>

  <p>
    Each application Gnomeslab produces puts the content and the user experience first, leading the end-user 
    in every step of the way. Then, when the stage is set, our talented team turn your ideas and 
    vision into a reliable, high quality and scalable piece of software.
  </p>

  <p>Iteration over iteration, with you in control, your solution is nourished 
    and grows at a steady and predictable pace. With each iteration, a release that you can experiment and 
    make sure that it absolutely meets your needs.
  </p>

  <p>
    At Gnomeslab the project doesn't end when you sign the last check. Our solutions come with a 12 month 
    warranty, ensuring that bugs are not in your way when your web application or product goes live.
  </p>
  <br/>
  </div>
  
  <!-- Meet the team -->
  <a name="team"></a>
  <h4>Meet the Team!</h4>
  <br />
  <a name="diogo_almeida"></a>
  <div id="diogo_almeida" class="entry justify" style='border-bottom: dashed 1px #cdcdcd; margin-bottom: 25px;'>
    <div class='image'>
    <img src="http://www.gravatar.com/avatar/f8d9ece58e97250910d1588b54149415?s=120"
         alt="Diogo Almeida, Gnomeslab founder and CEO" />
    </div>
    <div class='description' style='margin-left: 135px; margin-top: -123px;'>
      <h4>Diogo Almeida <span>:: Founder &amp; CEO</span></h4>
      <p>
        Young entrepreneur and creative, Diogo has a solid background in project management and coordination of 
        development teams.
      </p>

      <p>
        Prior to founding Gnomeslab, Diogo was building web-facing products and applications for some of the 
        biggest and most innovative Portuguese companies, such as Portugal Telecom, since 1999, with a great passion 
        for User Experience, Agile Development and Ruby on Rails.
      </p>

      <p>
        A constant drive to create more innovative solutions and products, led him to bring together an 
        incredibly talented team of professionals at Gnomeslab that can turn complex business ideas into remarkably 
        simple and high-quality IT solutions.
      </p>

      <h6>Contacts &amp; Social media</h6>
      <p>
        diogo (dot) almeida (at) gnomeslab (dot) com&nbsp;|&nbsp;
        <%= link_to 'LinkedIn profile', 'http://pt.linkedin.com/in/dbalmeida', :class => 'linkedin' %>
        &nbsp;|&nbsp;
        <%= link_to 'follow me on Twitter', 'http://twitter.com/dbalmeida', :class => 'twitter' %>
      </p>
    </div>
  </div>

  <a name="joao_correlo"></a>
  <div id="joao_correlo" class="entry justify" style='border-bottom: dashed 1px #cdcdcd; margin-bottom: 25px;'>
    <div class='image'>
      <img src="http://www.gravatar.com/avatar/2e4320869e0474cb699726a4b6dd5e19?s=120" 
        alt="Jo&atilde;o Correlo, Gnomeslab Partner and Head of Product Development" />
    </div>
    <div class='description' style='margin-left: 135px; margin-top: -123px;'>
      <h4>Jo&atilde;o Correlo <span>:: Partner and Head of Product Development</span></h4>
      <p>
        Jo&atilde;o has strong management and project/product development skills, bridging the gap between the fields 
        of business administration and software engineering. He is a skilled ICT project manager with 
        substantial experience in software architecture and development, as well in product inception, 
        development and management of the product life cycle.
      </p>
      <p>
        He has a first degree in Business Administration (specialisation in Finance), and an MSc from the 
        London School of Economics and Political Science (LSE) in Analysis, Design and Management of 
        Information Systems, having presented a thesis on Innovation.
      </p>
      <p>
        Over the years, Jo&atilde;o has worked in different environments, from startups through academic to 
        large entreprises, and has created several products, namely in Portugal Telecom.
      </p>
      <p>
        Given his passion for developing new and innovative projects and for agile methodologies, Jo&atilde;o 
        embraced the opportunity to co-found Gnomeslab.
      </p>
      <h6>Contacts &amp; Social media</h6>
      <p>
        joao (dot) correlo (at) gnomeslab (dot) com&nbsp;|&nbsp;
        <%= link_to 'LinkedIn profile', 'http://pt.linkedin.com/in/joaocorrelo', :class => 'linkedin' %>
      </p>
    </div>
  </div>

  <a name="pedro_coutinho"></a>
  <div id="pedro_coutinho" class="entry justify" style='border-bottom: dashed 1px #cdcdcd; margin-bottom: 25px;'>
    <div class='image'>
    <img src="http://www.gravatar.com/avatar/d59f0d269087eba7b001124dfebc0ab9?s=120"
         alt="Pedro Coutinho, Gnomeslab Partner and Head of Sales" />
    </div>
    <div class='description' style='margin-left: 135px; margin-top: -123px;'>
      <h4>Pedro Coutinho <span>:: Partner &amp; COO</span></h4>
      <p>
        Being a seasoned IT professional, Pedro had the opportunity to work as an IT Manager in a range 
        of industries, namely Healtcare, Games and Hardware Services.
      </p>
      <p>
        Ruby and Ruby on Rails popped in Pedro's radar and unveiled his passion for software development, or, as he 
        says, "the art or bringing ideas to life".
      </p>
      <p>
        With years of experience dealing with customers, end-users and communities, Pedro found himself in need of 
        a bigger and passionate project. With this in mind, he co-founded Gnomeslab with the remaining partners.
      </p>
      <p>
        If you find yourself in need of an IT solution that absolutely meets your needs, and you are yet to find a 
        sales person that actually knows what he is talking about and really understands what you need, then look no 
        further. Contact Pedro right away!...
      </p>
      <h6>Contacts &amp; Social media</h6>
      <p>
        pedro (dot) coutinho (at) gnomeslab (dot) com
      </p>
    </div>
  </div>

  <a name="miguel_teixeira"></a>
  <div id="miguel_teixeira" class="entry justify" style='border-bottom: dashed 1px #cdcdcd; margin-bottom: 25px;'>
    <div class='image'>
    <img src="http://www.gravatar.com/avatar/02daedbbdc944eb4970ce6b974c18d21?s=120"
         alt="Miguel Teixeira, Gnomeslab Partner and Engineer" />
    </div>
    <div class='description' style='margin-left: 135px; margin-top: -123px;'>
      <h4>Miguel Teixeira <span>:: Partner &amp; Engineer</span></h4>
      <p>
        After years of web development using Microsoft's ASP.net and PHP, Miguel realized that the <i>spark</i> 
        was gone. While his days were becoming more and more boring, he realized that not only he was unlearning 
        all the good practices, but also that things could (and should) be fundamentally different for the 
        clients and their end users.
      </p>
      <p>
        Miguel usually says that Ruby and Ruby on Rails rescued his web development career. He then 
        co-founded Gnomeslab, where he masters the art of taking an Adobe Photoshop file and turning it  
		into a live and immersive web experience.
      </p>
      <p>
        Being passionate about User Experience, Miguel likes to attend related conferences and workshops. Don't 
        forget to ping him if you meet him there!
      </p>
      <h6>Contacts &amp; Social media</h6>
      <p>
        miguel (dot) teixeira (at) gnomeslab (dot) com&nbsp;|&nbsp;
        <%= link_to 'LinkedIn profile',
                    'http://pt.linkedin.com/in/miguelfteixeira', :class => 'linkedin' %>&nbsp;|&nbsp;
        <%= link_to 'follow me on Twitter', 'http://twitter.com/miguelfteixeira', :class => 'twitter' %>
      </p>
    </div>
  </div>

  <h4>Have a project?</h4>
  <p>Don't let your project fail. <%= link_to 'Contact us', contact_path %> today. We would love to hear all about it!</p>
  <br />

<%= content_for :sidebar do %>
  <%= render 'shared/content_box/our_profile' %>
  <%= render 'shared/content_box/social_media' %>
  <%= render 'static_pages/services/contact_teaser' %>
<% end %>
