<li>
  <div class="cl">&nbsp;</div>

  <!-- Project Image -->
  <% if project.default_image.present? %>
    <div class="item-image">
      <%= link_to image_tag(project.default_image.url, :title => project.default_image.title),
                  project_path(project.category, project), :class => 'aimg' %>
    </div>
  <% end %>
  <!-- End Project Image -->

  <!-- Project Description -->
  <div class="item-info">
    <small>
      <%= link_to project.category.name, category_path(project.category) %> / 
      <%= l project.date, :format => :short %>
    </small>
    <h3><%= link_to project.title, project_path(project.category, project) %></h3>
    <p><%= project.subtitle %></p>
    <p class="view"><%= link_to 'View case study', project_path(project.category, project) %></p>
  </div>
  <!-- End Project Description -->

  <div class="cl">&nbsp;</div>
</li>
