<h2 class="border">Projects</h2>

<!-- Projects -->
<div class="items items-images">
  <% if @projects.present? %>
  <ul class="projects">
    <% @projects.each do |project| %>
      <li>
        <div class="cl">&nbsp;</div>
        <div class="item-image">
          <%= link_to image_tag(project.image, :alt => project.title), project, :class => 'aimg' %>
        </div>
        <div class="item-info">
          <small><a href="projects.html">Gnomeslab</a> / <%= project.date %></small>
          <h3>
            <%= link_to project.title, project %>
          </h3>
          <p><%= project.subtitle %></p>
          <p class="view"><%= link_to 'View case study', project %></p>
        </div>
        <div class="cl">&nbsp;</div>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>
<!-- End Projects -->

<!-- Pagination -->
<%= will_paginate @projects,
                  :previous_label => '&lt; Prev',
                  :next_label => 'Next &gt;',
                  :separator => '<span>|</span>' %>
<!-- End Pagination -->

<%= content_for :sidebar do %>
  <%= render 'categories_list' %>
  <%= render 'contact_teaser' %>
<% end %>