<h2 class="border">
  <small class="right"><%= l @project.date, :format => :long %></small>
  <%= @project.title %>
</h2>

<%= render 'breadcrumb' %>
<%= render 'previews' %>

<!-- Project Info -->
<div class="entry">
  <%= @project.description %>
  <%= content_tag :p, link_to('Launch the Site', @project.url), :class => 'nav' %>
</div>
<!-- End Project Info -->

<%= content_for :sidebar do %>
  <%= render 'categories_list' %>
  <%= render 'contact_teaser' %>
<% end %>