<div id="after-footer">
  <div class="shell">
    <p class="left">
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_us_path %>
      <%= link_to 'Services', services_path %>
      <%= link_to 'Blog', blog_path %>
      <%= link_to 'Contact', contact_path %>
    </p>
    <p class="right">Gnomeslab, Lda. &copy; 2010</p>
  </div>
</div>