<p>
  Whats on your mind, <%= current_user.name %>? Share something with our users!
</p>

<%= render 'shared/flash/box', :locals => flash %>

<%= form_for @post do |f| -%>

  <%= f.label :title, raw("Title <span>(required)</span>") %>
  <%= f.text_field :title,
                   :class => "field #{flash[:error].nil? ? 'required' : ' field-error'}" %>
  <div class="cl">&nbsp;</div>

  <%= f.label :body, raw("Text <span>(required)</span>") %>
  <%= f.text_area :body,
                  :class => "field #{flash[:error].nil? ? 'required' : ' field-error'}" %>
  <div class="cl">&nbsp;</div>

  <%= f.label :Tags, raw("Tags <span>(separate with comma ',')</span>") %>
  <%= f.text_field :tag_list,
                   :class => "field #{flash[:error].nil? ? 'required' : ' field-error'}" %>
  <div class="cl">&nbsp;</div>

  <div class="form-buttons">
    <%= f.submit "Submit your post", :class => 'button', :disable_with => 'Posting...' %> or 
    <%= link_to 'cancel', @post, :title =>'Go back to the homepage' %>
  </div>
<% end -%>