<!-- Post -->
<%= content_tag :div, :id => "post_#{post.id}", :class => 'post' do %>
  <h2>
    <small class="right"><%= l(post.created_at, :format => :long) %></small>
    <%= link_to post.title, post %>
  </h2>

  <div class="entry">
    <%= raw(post.html_safe_body) %>
  </div>

  <div class="post-meta">
    <div class="cl">&nbsp;</div>
    <div class="left">
      <p id='created_by'><em>Created by:</em> <%= post.user.name %></p>
      <p id='post_tags'>
        <em>Tags:</em>
        <% post.tag_list.each do |t| %>
        <%= link_to t, post_tags_path(t), :id => "tag_#{post.id}_#{post.tag_list.rindex(t)}" %>
        <% end %>
      </p>
    </div>
    <div id='comments' class="right">
      <a href="blog-detailed.html" class="gray">Comments: 0</a>
      <% if user_signed_in? %>
        <p><%= link_to "Edit post", edit_post_path(post), :id => "edit_post_#{post.id}_link" %></p>

        <%= button_to 'Delete', post,
                      :method => :delete,
                      :class => 'button',
                      :confirm => 'Are you sure that you want to delete this post?',
                      :title => 'Delete the selected post.',
                      'data-disable-with' => 'Deleting...' %>
      <% end %>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="spacer">&nbsp;</div>
<% end %>
<!-- End Post -->