<!-- Post -->
<%= content_tag :div, :id => "post_#{post.id}", :class => 'post' do %>
  <h2>
    <small class="right"><%= l(post.created_at, :format => :long) %></small>
    <%= link_to post.title, post %>
  </h2>

  <div class="entry">
    <%= raw(post.body!) %>
  </div>
  
  <div class="post-meta">
    <div class="cl">&nbsp;</div>
    <div class="left">
      <p id='created_by'><em>Created by:</em> <%= post.user.name %></p>
      <p id='post_tags'>
        <em>Tags:</em>
        <% post.tag_list.each do |t| %>
        <%= link_to t, post_tags_path(t), :id => "tag_#{post.id}_#{post.tag_list.rindex(t)}" %>
        <% end %>
      </p>
    </div>
    <span id='comments' class="right">
      <a href="blog-detailed.html" class="gray">Comments: 0</a>
      <% if user_signed_in? %>
        </p>Destroy? <%= link_to "Edit", edit_post_path(post) %>?</p>
      <% end %>
    </span>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="spacer">&nbsp;</div>
<% end %>
<!-- End Post -->