<%= render 'shared/flash/box', :locals => flash %>
<h2 class="border">
  <small class="right"><%=l @post.created_at, :format => :long %> by</small>
  <%= @post.title %>
</h2>       
<div class="entry">
  <%= @post.body %>
</div>

<div class="post-meta">
  <div class="cl">&nbsp;</div>
  <div class="left">
    <p id='created_by'><em>Created by:</em> <%= @post.user.name %></p>
    <p><em>Tags:</em> <a href="blog.html">Tag1</a>, <a href="blog.html">Tag2</a>, <a href="blog.html">Tag3</a></p>
  </div>
  <span class="right">
    <a href="#comments" class="gray">Comments: 19</a>
  </span>
  <div class="cl">&nbsp;</div>
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_post_path %>
  <% end %>
</div>