<% title 'Blog | Gnomeslab' %>
<!-- Posts -->
<div id='posts' class="justify">
  <%= render 'shared/flash/box', :locals => flash %>

  <%= render @posts if @posts %>

  <!-- Pagination -->
  <%= paginate_records @posts %>
  <!-- End Pagination -->
</div>
<!-- End Posts -->

<%= content_for :sidebar do %>
  <%= render 'shared/content_box/recent_posts' %>
  <%= render 'shared/content_box/popular_post' %>
  <%= render 'shared/content_box/archives' %>
<% end %>