<!-- View post -->
<div class="post justify">
  <h2 class="border">
    <small class="right"><%= l @post.date, :format => :long %></small>
    <%= @post.title %>
  </h2>


</div>
<!-- End Comments -->

<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/popular_post' %>
  <%= render :partial => 'shared/content_box/popular_tags' %>
  <%= render :partial => 'shared/content_box/archives' %>
  <%= render :partial => 'shared/content_box/related_post' %>
<% end %>