<% title "#{@post.title}", true %>

<!-- Post Single -->
<div class="post justify">
  <%= render 'shared/flash/box', :locals => flash %>

  <%= render @post %>
</div>
<!-- End Post Single -->

<!-- Comments -->
<div class="post-comments justify" id="comments">
  <a href="#submit-comment" class="right">Write a comment</a>
  <h4 class="comments-count"><%= pluralize(@post.comments.visible.count, 'Comment') %></h4>
  
  <% if @post.comments.present? %>
  <!-- Comment List -->
  <div class="comment-list">
    <ol>
      <%= render :partial => 'comments/comment',
                 :locals => { :comments => @post.first_level_comments(user_signed_in?) } %>
    </ol>
  </div>
  <!-- End Comment List -->
  <% end %>

  <!-- Comment Form -->
  <%= render 'comments/form'  %>
  <!-- End Comment Form -->
  
</div>
<!-- End Comments -->

<%= content_for :sidebar do %>
  <%= render 'shared/content_box/related_post', :collection => @post.related %>
  <%= render 'shared/content_box/popular_post' %>
  <%= render 'shared/content_box/recent_comments' %>
<% end %>
