<% if @title.nil? %>
  <%= content_title "Page not found" %>
  <p>Sorry, we seem to have misplaced what you were looking for, but we're searching for it!</p>
<% else %>
  <%= content_title "Tag :: #{@title.name.capitalize}" %>
  <div id='posts' class="justify">
  <br /><br />

  <%= render @posts if @posts %>

  <!-- Pagination -->
  <%= paginate_records @posts %>
  <!-- End Pagination -->

  </div>
  <br /><br />

<% end %>
<%= content_for :sidebar do %>
  <%= render :partial => 'shared/content_box/popular_post' %>
  <%= render :partial => 'shared/content_box/popular_tags' %>
  <%= render :partial => 'shared/content_box/archives' %>
<% end %> 