<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @title || title %></title>
    <%= stylesheet_link_tag 'style' %>

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- JS -->
    <%= javascript_include_tag ['jquery-1.4.1.min', 'jquery.jcarousel.pack', 'jquery-func', 'application'],
                               :cache => true %>
    <!-- End JS -->
  </head>

  <body>
    <!-- Header -->
    <div id="header">
      <div class="shell">
        <!-- Socials -->
        <div class="login">
          <% if current_user %>
            <li>
              <span>|</span>
              <%= link_to 'Logout', destroy_user_session_path %>
            </li>
          <% end %>
        </div>
        <div class="socials">
          <a href="#" class="rss-link">RSS</a>
          <span>|</span>
          <a href="#" class="facebook-link">Facebook</a>
          <span>|</span>
          <a href="#" class="twitter-link">Twitter</a>
        </div>
        <!-- End Socials -->
      </div>
    </div>
    <!-- End Header -->

    <!-- Container -->
    <div id="container">
      <!-- shell -->
      <div class="shell">
        <!-- Logo + Navigation -->
        <%= render 'shared/header/top_menu' %>
        <!-- End Logo + Navigation -->

        <%= yield :pre_content %>

        <!-- Main -->
        <div id="main">
          <div class="cl">&nbsp;</div>

          <!-- Content -->
          <div id="content" class="col col1">
            <%= yield %>
          </div>
          <!-- End Content -->

          <!-- Sidebar -->
          <div id="sidebar" class="col-right col2">
            <%= yield :sidebar %>
          </div>
          <!-- End Sidebar -->

          <div class="cl">&nbsp;</div>
          
          <!-- Cols -->
          <%= yield :content_columns %>
          <!-- End Cols -->
        </div>
        <!-- End Main -->
      </div>
      <!-- end shell -->
    </div>
    <!-- End Container -->

    <!-- Footer -->
    <%= render 'shared/footer/content' %>
    <!-- End Footer -->

    <!-- Footer Nav -->
    <%= render 'shared/footer/nav' %>
    <!-- Footer Nav -->
  </body>
</html>
